node_modules
dist
build
coverage
*.lock
package-lock.json
pnpm-lock.yaml
yarn.lock
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.docusaurus
.solcover
__pycache__
.pytest_cache
.coverage
.mypy_cache
.dmypy.json
.pyre
.pytype
coverage
*.min.js
*.min.css
